
.single-organization {
  main {
    flex: 1 0 auto; 
    @media screen and (min-width: 992px) {
  	  padding-left: 270px;
    }
    .container {
      width: 95%;

  	}
  }
}

.single-organization {
  footer.page-footer {
    @media screen and (min-width: 992px) {
      display: none;
    }
  }
}

.home .page-footer {
  padding-top: 0;
  .row {
    margin-bottom: 10px;
  }
}

.nav-footer {
  .goal-wrapper {
    .goal-number {
      text-transform: none !important;
      font-size: 14px !important;
      font-weight: 700;
    }
  }
}