@import "../layout/content-sidebar";
@import "../layout/sidebar-content";
@import "../layout/content-footer";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";


/*--------------------------------------------------------------
## Content Specific Areas
--------------------------------------------------------------*/


/*---------------------------
 - /Org - Title Wrapper
--------------------------- */
.single-organization {
	.each-section {
		min-height: 100vh;
	}
	.title-wrapper {
		padding: 30px 0 10px 0;
	}
	#about .title-wrapper {
		background-image: url('images/geo-bg.png');
    background-size: cover;
    background-position-y: 50%;
	}
	.content-wrapper {
		margin-top: 20px;
		padding-bottom: 80px;
	}
}

/*---------------------------
 - /Org - Store
--------------------------- */
.apparel-images-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	.card {
	    width: 27%;
	    margin-right: 3%;
	    margin-top: 20px;
	    margin-bottom: 10px;
		img {
			width: 100%;
		}
	}
}
