h1, h2, h3, h4, h5, h6 {
	clear: both;
}

.page-title {
	line-height: normal;
  font-size: 48px;
  margin: 0;
  background-color: rgba(255,255,255,.9);
  color: $black;
  padding: 10px 20px;
  width: fit-content;
}
.page-subtitle {
  font-size: 30px;
  margin-top: 0;
  line-height: 32px;
}

p.org-title {
	font-size: 20px;
	margin-bottom: 0;
}

.special {
  font-family: 'Permanent Marker', cursive;
}

.hero .special {
  font-size: 5rem;
}