$font__main: 'Open Sans', sans-serif;
$font-heading: 'Bree Serif', sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

/* idk what font_code means dg-10.21.17 */
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$xxs: 5px;
$xs: 10px;
$sm: 20px;
$md: 40px;
$lg: 60px;
$xl: 80px;
$xxl: 100px;