/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";

nav.top-nav {
  height: 180px;
  position: fixed;
  top: 0;
  z-index: 2;
  .container {
  	@media screen and (min-width:992px) {
	  	margin-left: 7%;
	    padding-top: 10px;
	    width: 60%;
  	}
  }
}

nav .nav-wrapper {
  position: relative;
  height: 100%;
  line-height: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-nav a i {
	position: absolute;
	top: 20px;
	left: 20px;
}

#nav-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
	.top-wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;
		.button-wrapper {
			a {
				background-color: $white;
				margin:40px;
				color: $black;
			}
		}
	}
	.nav-items {
		width: 100%;
		display: flex;
		flex-direction: column;
		a {
			height: 40px;
	    justify-content: flex-start;
	    display: flex;
	    color: black;
		}
		p a {
			color: black;
		}
	}
	.nav-footer {
		display: flex;
    flex-direction: column;
    .goal-wrapper {
    	.text-wrapper {
    		padding-top: 12px;
    	}
    }
		.text-wrapper {
	    padding: 0px 32px 16px 32px;
  	  font-size: 12px;
		}
	}
	@media screen and (max-width: 991px) {
		display: none;
	}
}

.side-nav a {
	@media screen and (max-width: 992px) {
	  padding: 0;
	}
}

.fixed-announcement {
	padding: 10px 0;
	i {
		position: relative;
		top: 5px;
	}
}

.organization-template-default {
	#nav-mobile {
		background-color: #282E3A;
		.identification {
	    display: flex;
	    flex-direction: column;
		  justify-content: center;
		  align-items: center;
		  width: 100%;
		  padding: 30px 0;
	    p {
	    	color: white !important;
	    	font-weight: 400;
	    	text-align: center;
	    	&:last-child {
    	    font-size: 12px !important;
    			margin: 2px 0 0;
    			font-weight: 100;
    			color: #64676E !important;
	    	}
	    }
		}
	}
}

.side-item-wrapper {
	display: flex;
	flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
	border-top: 1px dotted #464b52a6;
	border-bottom: 1px dotted #464b52a6;
  a {
  	height: fit-content !important;
  	color: #75787E !important;
		padding-top: 15px;
		padding-bottom: 15px;
		width: 100%;
		padding-left: 40px;
  	svg {
	    width: 18px;
	    margin-right: 20px;
	    max-height: 20px;
  		fill: #75787E;
  	}
  }
  ul {
    padding-left: 40px;
    width: 100%;
    display: none;
  }
  &.active {
  	  a {
			background: #aa076b47; /* fallback for old browsers */
			background: linear-gradient(to left, #191f28 78%, #e5659021, #e565904a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	  	color: white !important;
			svg {
		    fill:url(#MyGradient);
			}
	  }
	  ul {
	  	display: block;
	  }
	}
}
